:root {
    --gris1: #626262;
    --gris2: #27272a;
    --fondo: #252528;
    --fondo2: #1E1E1E;
    --verde: #10b981;
    --gris-claro: #cbcbcb;

    --fuente-principal: 'Share Tech Mono', monospace;
    --fuente-secundaria: 'Roboto Mono', monospace;
}

/* Reset */
* {
    color: var(--gris-claro);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
h2 {
    color: white;
    margin: 0 0 16px;
    font-size: 1.75rem;
    font-family: var(--fuente-principal);
}


.header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo2);
    border-bottom: 0.1rem solid var(--gris1);
    padding: 1rem 2rem;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

.header__logo-img {
    display: block;
}

.header__logo-text {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    margin: 0; 
}

.header__logo {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
}

.header__list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: var(--gris-claro);
    font-family: var(--fuente-secundaria);
    position: relative;
    transition: color 0.3s ease;
}

/* Pseudoclase */
.header__link:hover {
    color: var(--verde);
}

/* Pseudoelemento */
.header__link::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--verde);
    transition: width 0.3s ease;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.header__link:hover::after {
    width: 100%;
}

/* Body */
body {
    background-color: var(--fondo2);
    font-family: var(--fuente-secundaria);
}

/* Formulario */
.formulario {
    font-size: 1rem;
    background-color: var(--fondo);
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 2rem auto;
}

.formulario-h2 {
    color: var(--verde);
    margin-bottom: 1rem;
    text-align: center;
}

.formulario-h3 {
    color: var(--verde);
    margin-top: 1rem;
    text-align: left;
}

.formulario label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--gris1);
    background-color: var(--fondo);
    color: var(--gris-claro);
    font-family: var(--fuente-secundaria);
}

.formulario-botton {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: var(--verde);
    color: white;
    border: none;
    cursor: pointer;
    font-family: var(--fuente-secundaria);
}