:root{
    --gris1: #626262;
    --gris2: #27272a;
    --fondo: #0c0a09;
    --verde: #10b981;
    --gris-claro: #cbcbcb;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url(../assets/fonts/Roboto-Medium.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*{
    color: var(--gris-claro);
}
    
header {
    border: 0.1rem solid white;
    background-color: var(--gris1);

    font-size: 1rem;
    font-weight: bold;
}

body {
    border: 0.1rem solid white;
    background-color: var(--gris2);
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    border: 0.1rem solid white;
    background-color: var(--gris1);
    font-size: 1rem;
    text-align: center;
    color: white;
}

#img-principal {
    width: 30%;
    height: auto;
}
.Eslogan {
    color: var(--verde);
}

